$BG_COLOR: rgb(210, 255, 255);
$IMG_PATH: '../img/';

#main {
    section {
        margin-bottom: 50px;
        h1 {
            font-size: 140%;
        }
        p, ul {
            margin-bottom: 1.5em;
        }
        p.notes {
            color: blue;
            @media screen and (max-width: 640px) {
                color: green;
            }
        }
    }
}

.bg_color {
    background: {
        image: url(#{$IMG_PATH}bg.png);
        size: cover;
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        color: $BG_COLOR;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: red;
        // font-weight: 600;
    }
}


